# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Data & artifacts not needed at build time
data/
datasets/
notebooks/
logs/

# Git
.git/
.gitignore

# OS
.DS_Store
Thumbs.db

# Large files (keep model explicitly)
*.zip
*.tar
*.csv
*.mp4
